<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header modal-header-border">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% if @confirmations.empty? %>
      <div class="no-notification-messege center"><%= "現在、お知らせはありません。" %></div>
    <% else %>
      <%= 
        form_with(model: @confirmations,
                  url: attendance_confirmation_confirmation_update_user_path,
                  local: true,
                  method: :patch
                  ) do |f|
      %>
        <% @users.each do |user| %>
          <% single_user = @confirmations.where(applicant: user.id) %>
          <% unless single_user.blank? %>
            <h4 class="modal-title center"><%= "【#{user.name}からの1ヶ月分勤怠申請】" %></h4>
            <div class="modal-body modal-body-area">
              <table class="table table-bordered table-condensed center table-striped">
                <thead>
                  <div class="row">
                    <tr>
                      <th class="col-md-2 table-head">月</th>
                      <th class="col-md-4 table-head">指示者確認㊞</th>
                      <th class="col-md-2 table-head">変更</th>
                      <th class="col-md-4 table-head">勤怠を確認する</th>
                    </tr>
                  </div>
                </thead>
                <tbody>
                  <% single_user.each do |single| %>
                    <%= f.fields_for 'data[]', single do |fs| %>
                    <tr>
                      <%= fs.hidden_field(:id, value: single.id) %>
                      <td class="table-data"><%= "#{single.application_month.month}月" %></td>
                      <td class="table-data"><%= fs.collection_select(:status, $status_select, :status, :status) %></td>
                      <td class="table-data">
                        <%= fs.check_box :check_box %>
                      </td>
                      <td class="table-data"><%= link_to "確認", user_path(single.applicant, date: single.application_month, readonly_flag:"1"), class: "btn btn-primary btn-md", target: :_blank %></td>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
        <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary center-block btn-modal-common" %>
      <% end %>
    <% end %>
  </div>
</div>