<% provide(:title, 'ユーザ一覧') %>
<%= render 'shared/error_messages', object: @user %>

<h1 class="headline">ユーザ一覧</h1>

<div class="row">
  <div class="col-md-3">
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file, class: "file-selection" %>
      <%= submit_tag "CSVをインポート", class: "btn btn-primary btn-block btn-csv-import" %>
    <% end %>
  </div>
</div>

<div calss="row">
  <div class="col-md-10 accordion-index-block">
  <div>Example</div>
    <% @users.each do |user| %>
      <% serial = $alphabet[user.id.to_i - 1] %>
      <%= user.name %>
      <br>
      <a class="delete-button-left"></a>
      <%= 
        link_to "削除", user_path(user), method: :delete, data: { confirm: "「#{user.name}」を削除してよろしいですか？" },
        class: "btn btn-primary btn-user-delete"
      %>
    
      <div class="accordion accordion-block">
        <div class="card">
          <div class="card-header accordion-head--color">
            <button class="btn btn-primary btn-user-edit" type="button"
              data-toggle="collapse" data-target="#card-4<%= serial %>"
              aria-expanded="true" aria-controls="card-4<%= serial %>">
              編集
            </button>
          </div>
          <div id="card-4<%= serial %>" class="collapse"
              aria-labelledby="header-4<%= serial %>" data-parent="#accordion-4">
            <div class="card-body accordion-body">
              <%= form_with(model: user, local: true) do |f| %>
              
                <%= f.label :name, class: "label-user-edit" %>
                <%= f.text_field :name, class: "form-control" %>
              
                <%= f.label :email, class: "label-user-edit" %>
                <%= f.email_field :email, class: "form-control" %>
              
                <%= f.label :affiliation, class: "label-user-edit" %>
                <%= f.text_field :affiliation, class: "form-control" %>
              
                <%= f.label :employee_number, class: "label-user-edit" %>
                <%= f.text_field :employee_number, class: "form-control" %>
              
                <%= f.label :uid, class: "label-user-edit" %>
                <%= f.text_field :uid, class: "form-control" %>
              
                <%= f.label :password, class: "label-user-edit" %>
                <%= f.password_field :password, class: "form-control" %>
              
                <%= f.label :password_confirmation, class: "label-user-edit" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              
                <%= f.label :basic_work_time, class: "label-user-edit" %>
                <%= f.time_field :basic_work_time, class: "form-control" %>
              
                <%= f.label :designated_work_start_time, class: "label-user-edit" %>
                <%= f.time_field :designated_work_start_time, class: "form-control" %>
              
                <%= f.label :designated_work_end_time, class: "label-user-edit" %>
                <%= f.time_field :designated_work_end_time, class: "form-control" %>
              
                <%= f.submit "編集する", class: "btn btn-primary btn-block btn-user-update" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>