<% provide(:title, @user.name) %>

<table class="table table-bordered table-condensed table-border-duplication">
  <div class="row">
    <tr>
      <th class="col-md-4 table-head">
        <div>
        <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary" if hide %>
        &nbsp;
        <%= l(@first_day, format: :middle) %>
        &nbsp;
        時間管理表
        &nbsp;
        <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary" if hide %>
        </div>
      </th>
      <th class="col-md-2 table-head">
        指定勤務開始時間&emsp;<%= format_basic_info(@user.designated_work_start_time) %>
        <br>
        &nbsp;&nbsp;指定勤務終了時間&emsp;<%= format_basic_info(@user.designated_work_end_time) %>
      </th>
      <th class="col-md-4 table-head"><%= format_basic_info(@user.basic_work_time) %>&emsp;基本時間</th>
      <th class="col-md-2 table-head">初日&emsp;<%= l(@first_day, format: :short_zero) %></th>
    </tr>
  </div>
</table>

<table class="table table-bordered table-condensed center">
  <div class="row">
    <tr>
      <th class="col-md-4 table-head">所属&emsp;<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></th>
      <th class="col-md-2 table-head">氏名&emsp;<%= @user.name %></th>
      <th class="col-md-1 table-head">コード</th>
      <th class="col-md-1 table-head"><%= @user.employee_number %></th>
      <th class="col-md-2 table-head">出勤日数&emsp;<%= @worked_sum %>日</th>
      <th class="col-md-2 table-head">締め&emsp;<%= l(@last_day, format: :short_zero) %></th>
    </tr>
  </div>
</table>

<% if hide %>
  <% if current_user.superior? %>
    <div>
      <% provide(:confirmation, "-confirmation-presence") if notification_confirmation %>
      <%=
        link_to "【所属長承認申請のお知らせ】", attendance_confirmation_confirmation_user_path(@user),
        remote: true, class: "link-notification#{yield(:confirmation)}"
      %>
      <%= notification_confirmation if notification_confirmation %>
      <br>
      <% provide(:change, "-change-presence") if notification_change %>
      <%=
        link_to "【勤怠変更申請のお知らせ】", attendance_change_change_user_path(@user),
        remote: true, class: "link-notification#{yield(:change)}"
      %>
      <%= notification_change if notification_change %>
      <br>
      <% provide(:overtime, "-overtime-presence") if notification_overtime %>
      <%= 
        link_to "【残業申請のお知らせ】", attendance_overtime_overtime_user_path(@user),
        remote:true, class: "link-notification#{yield(:overtime)}"
      %>
      <%= notification_overtime if notification_overtime %>
    </div>
  <% end %>

  <%= 
    link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary"
  %>
  <%= link_to "CSV出力", user_path(format: :csv, date: @first_day), class: "btn btn-primary" %>
  <br>
  <%= link_to "勤怠修正ログ（承認済）", attendance_change_show_user_path(@user, date: @first_day), class: "btn btn-primary btn-attendance-log" %>
  
<% end %>

<table class="table table-bordered table-condensed center table-striped">
  <thead>
    <tr>
      <th rowspan="3" class="table-head">残業申請</th>
      <th rowspan="3" class="table-head">日付</th>
      <th rowspan="3" class="table-head">曜日</th>
      <th colspan="8" class="table-head">【実績】</th>
      <th colspan="5" class="table-head">所定外勤務</th>
    </tr>
    <tr>
      <th colspan="3" class="table-head">出社</th>
      <th colspan="3" class="table-head">退社</th>
      <th rowspan="2" class="table-head">在社時間</th>
      <th rowspan="2" class="table-head">備考</th>
      <th colspan="2" class="table-head">終了予定時間</th>
      <th rowspan="2" class="table-head">時間外時間</th>
      <th rowspan="2" class="table-head">業務処理内容</th>
      <th rowspan="2" class="table-head">指示者確認㊞</th>
    </tr>
    <tr>
      <th class="table-head">時</th>
      <th class="table-head">分</th>
      <th class="table-head"></th>
      <th class="table-head">時</th>
      <th class="table-head">分</th>
      <th class="table-head"></th>
      <th class="table-head">時</th>
      <th class="table-head">分</th>
    </tr>
    <tr>
  </thead>
  <tbody>
    <% @attendances.each do |day| %>
    <tr>
      <td class="table-data">
        <% if hide %>
          <%= link_to "残業申請", attendance_overtime_new_user_path(@user, attendance_id: day), remote: true,
            class: "btn btn-primary" %>
        <% end %>
      </td>
      <td class="table-data"><%= l(day.worked_on, format: :short) %></td>
      <td class='table-data <%= "wday#{day.worked_on.wday}" %>'>
        <%= $days_of_the_week[day.worked_on.wday] %>
      </td>
      <td class="table-data"><%= day.started_at.hour if day.started_at.present? %></td>
      <td class="table-data">
        <%= fifteen_minutes_conversion(day.started_at.min) if day.started_at.present? %>
      </td>
      <td class="table-data">
      <% if hide %>
        <% if btn_text = attendance_state(day) %>
          <%=
            link_to "#{btn_text}", user_attendance_path(@user, day),
            method: :patch, class: "btn btn-primary btn-attendance"
          %>
        <% end %>
      <% end %>
      </td>
      <td class="table-data"><%= day.finished_at.hour if day.finished_at.present? %></td>
      <td class="table-data">
        <%= fifteen_minutes_conversion(day.finished_at.min) if day.finished_at.present? %>
      </td>
      <td></td>
      <td class="table-data">
      <% if day.started_at.present? && day.finished_at.present? %>
        <%= str_times = working_times(day.started_at, day.finished_at, day.next_day_flag) %>
        <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
      <% end %>
      </td>
      <td class="table-data"><%= approved_remarks(day) %></td>
      <td class="table-data"><%= sheduled_end_at_hour(day) %></td>
      <td class="table-data"><%= sheduled_end_at_min(day) %></td>
      <td class="table-data">
        <% if day.started_at.present? && day.finished_at.present? %>
          <% over_time = working_times_over(day.started_at, day.finished_at, day.next_day_flag) %>
          <%= over_time if over_time.to_i >= 0.01 %>
        <% end %>
      </td>
      <td class="table-data"><%= business_processing_content(day) %></td>
      <td class="table-data">
        <% first_line = overtime_status_display(day) %>
        <% second_line = change_status_display(day) %>
        <% if first_line && second_line %>
          <%= first_line %><br><%= second_line %>
        <% else %>
          <%= first_line %><%= second_line %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  
  <tfoot class="table-foot">
    <td colspan="1"></td>
    <td colspan="2"></td>
    <td colspan="6"></td>
    <td class="table-data"><%= format("%.2f", @total_working_times.to_f) %></td>
    <td colspan="5"></td>
    <td colspan="1">
      <div>
      所属長承認&emsp;<%= attendance_confirmation_status_check %>
      <% if hide %>
        <%= form_with(model: @user, url: attendance_confirmation_create_user_path, local: true, method: :post) do |f| %>
          <%= f.hidden_field(:applicant, value: @user.id) %>
          <%= f.hidden_field(:application_month, value: @first_day) %>
          <%= f.collection_select(:superior_id, @superiors, :id, :name, {:include_blank => true}, class: "select-attendance-confirmation") %>
          <%= f.hidden_field(:status, value: "申請中") %>
          <%= f.submit "申請", class: "btn-attendance-confirmation btn btn-primary btn-lg" %>
        <% end %>
      <% end %>
      </div>
    </td>
  </tfoot>
</table>

<!--モーダルウインドウ表示-->
<div id="confirmation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="change" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
